.image{
    height: 300px;
    width: 300px;
    margin-left: 300px;
    margin-top: 95px;
    position: fixed;
}
.eye1{
    width: 48px;
    height: 70px;
    background-color: white;
    margin-left: 400px;
    margin-top: 110px;
    border-radius: 80px 29px 60px 50px;
    position: fixed;
}
.eye2{
    width: 48px;
    height: 70px;
    background-color: white;
    margin-left: 455px;
    margin-top: 110px;
    border-radius: 49px 70px 60px 50px;
    position: fixed;
}
.ball{
    width: 15px;
    height: 20px;
    background-color: black;
    margin-top: 1px;
    margin-left: -5px;
    border-radius: 160px 160px 160px 160px;
    position: absolute;
    
}